body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

* {
  box-sizing: border-box;
}

.header{
  font-size: 30px;
  position: relative;
  align-content: center;
  top :100px;
   
  text-align: center;
  text-align: center;
}
 
.row {
  display: flex;
  position: fixed;
  left:   850px;
  align-items: center;
  top: 300px;
  background-color:#bbb;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

 #myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}
 /*end of index */
 /*beginin of carousel */.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #303b37;
  left: 300Px;
  position: relative;
  border: none;
  border-radius: 15px; 
  align-content: center;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

 
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
 
.slideshow-container mySlides fade  {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
 
  /*end of carousel */


 /*lis de courseµ*/
 .form-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top :120px;
  left: 300px;
  border: black;
}

 
.button1 {
  background-color: #303b37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: x-large;
  width: 20%;
  border: none;
border-radius: 15px; 
align-content: center;
position: relative;
}



.container input[type=text]{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(12, 12, 12);
  box-sizing: border-box;
  }
  .container label{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    box-sizing: border-box;
    }

    #dynamic-list li {
      border: 1px solid #ddd;
      margin-top: -1px;  
      background-color: #f6f6f6;
      padding: 12px;
      text-decoration: none;
      font-size: 25px;
      color: black;
    
    }

    
 /*end list de courseµ*/
 .imgcontainter {
  max-width: 100%;
  position: relative;
  margin: auto;
 align-content: center;
 text-align: center;
 border: black;
 }
.content {
  max-width: 100%;
  position: relative;
  margin: auto;
 align-content: center;
 text-align: center;
 border: black;
}
.reset {
  background-color: #9b1a1a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: x-large;
  width: 10%;
  border: none;
border-radius: 15px; 
align-content: center;
position: relative;
}

  
.buttonplayer {
  background-color: #303b37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: x-large;
  width: 10%;
  border: none;
border-radius: 15px; 
align-content: center;
position: relative;
} 


select.round {
 
background-color: white;
border: thin solid blue;
border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 1.5em;
padding: 0.5em 3.5em 0.5em 1em;
margin: 0;      
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
background-image:
linear-gradient(45deg, transparent 50%, gray 50%),
linear-gradient(135deg, gray 50%, transparent 50%),
radial-gradient(#ddd 70%, transparent 72%);
background-position:
calc(100% - 20px) calc(1em + 2px),
calc(100% - 15px) calc(1em + 2px),
calc(100% - .5em) .5em;
background-size:
5px 5px,
5px 5px,
1.5em 1.5em;
background-repeat: no-repeat;
} 